<form class="item">
    <input type="text" name="dni" id="dni" placeholder="DNI" class="form-control" [(ngModel)] = "persona.dni" #dniInput/>
    <input type="text" name="nombres" id="nombres" placeholder="Nombres" class="form-control" [(ngModel)] = "persona.nombres" #nombresInput/>
    <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" class="form-control" [(ngModel)] = "persona.apellidos" #apellidosInput/>
    <button type="submit" class="btn btn-primary" (click)="agregarPersona()" #btnGrabar>Agregar</button>
</form>


